@font-face {
  font-family: myFirstFont1;
  src: url(fonts/SourceSansPro-Black.ttf);
}
@font-face {
  font-family: myFirstFont2;
  src: url(fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: myFirstFont3;
  src: url(fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: myFirstFont4;
  src: url(fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: myFirstFont5;
  src: url(fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: myFirstFont6;
  src: url(fonts/SourceSansPro-SemiBold.ttf);
}
#c {
  height: inherit;
  position: relative;
}

#centerdata {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#center1 {
  font-family: myFirstFont2;
  white-space: nowrap;
  font-size: calc(100px + 0.390625vw);
}
#center2 {
  white-space: nowrap;
  font-family: myFirstFont2;
  font-style: italic;
  font-size: calc(25px + 0.390625vw);
  padding-bottom: 30px;
}
#cbutton {
  background-color: #196d87;
  border: none;
  color: white;
  padding: 35px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(12px + 0.390625vw);
  border-radius: 8px;
  margin-top: 30px;
}
#about {
  padding: 120px;
  text-align: center;

  white-space: nowrap;
}
#p1 {
  white-space: nowrap;
  font-family: myFirstFont3;
  padding: 10px;
}

#blackk {
  background-color: #212529; /* Green */
  border: none;
  color: white;
  margin-top: 30px;
  padding: 25px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 2px;
}
#blackk:hover {
  background-color: #ecb807;
  color: rgb(255, 255, 255);
}
#about {
  display: flex;
  justify-content: center;
}
#insideabout {
  align-self: center;
}
#fabout {
}
.about-content {
  text-align: center;
}
#sec112 {
  max-width: inherit;
  font-size: 3vw;
}
#p1 {
  max-width: fit-content;
}
#p111 {
  width: inherit;
  font-size: 10px;
}
#services {
  text-align: center;
  white-space: nowrap;
  background-color: #1d809f;
}
#p12 {
  white-space: nowrap;
  color: #ecb807;
  padding-top: 60px;
  padding-bottom: inherit;
}
#p13 {
  white-space: nowrap;
  font-size: 30px;
  color: white;
}
#services {
  text-align: center;
  white-space: nowrap;
}
#ser1 {
  font-size: 13px;
  padding-top: 10px;
  color: #ecb807;
}
#ser11 {
  white-space: nowrap;
  font-size: 23px;
  font-family: myFirstFont2;
  padding: 0px;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#yu {
  float: left;
}
#c1,
#c2 {
  width: 33%;
  border: #000000;
}

#c3 {
  width: auto;
  border: #000000;
}

#wrapper {
  display: -webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
}

#wrapper div {
  -webkit-flex: 1;
  flex: 1;
}
/* Container styles */
.icon-container {
  text-align: center;
}

/* Icon styles */
.icon-container i {
  font-size: 48px; /* Adjust the size as needed */
}

/* Text styles */
.icon-container p {
  margin-top: 10px; /* Add some spacing between icon and text */
  font-size: 16px; /* Adjust the size as needed */
}
#insideabout {
  margin: auto;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
#about-inside {
  text-align: center;
}
#about-heading {
  font-family: myFirstFont2;
  padding: 0px;
  font-size: 2rem;
  font-size: 10px;
  font-size: 2vw;
  font-size: calc(23px + 0.390625vw);
}
#about-subheading {
  font-family: myFirstFont3;
  padding: 10px;
  font-size: 2rem;
  font-size: 10px;
  font-size: 2vw;
  font-size: calc(12px + 0.390625vw);
}

#icondata {
  color: white;
  font-family: myFirstFont1;
  font-size: 1.5rem;
  padding-top: 20px;
}
#icondata2 {
  color: white;
  font-size: 13px;
  padding: 0;
  padding-top: 10px;
  font-family: myFirstFont3;
  /* margin-top: 0%; */
}
#insidewelcome {
  height: inherit;
  position: relative;
}
#centergreet {
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  max-width: 400px;
  padding: 10px;
}
#line1 {
  font-family: myFirstFont2;
  /* white-space: nowrap; */
  text-align: center;
  font-size: calc(35px + 0.390625vw);
  padding-bottom: 30px;
}
#line2 {
  font-family: myFirstFont2;
  white-space: nowrap;
  font-size: calc(30px + 0.390625vw);
  padding-bottom: 18px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}
#centergreet {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  max-width: 352px;
  padding: 10px;
  text-align: center;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0;
  background-color: #1d809f;
  padding-bottom: 100px;
  padding-left: 16%;
  padding-right: 0%;
  padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: -9px;
  text-align: center;
  background-color: #1d809f;
}
* {
  box-sizing: border-box;
}
#cbutton1 {
  background-color: #196d87;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(5px + 0.390625vw);
  border-radius: 2px;
  margin-top: 20px;
}
#cbutton1:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
#cbutton:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
div.gallery {
}

div.gallery:hover {
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  padding: 70px 30px;
  border: 3px solid green;
  text-align: center;
}
.column11 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row11:after {
  content: "";
  display: table;
  clear: both;
}
#centerpadding {
  padding: 10px;
}
#cover1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.grid1 #img1 {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
/* .google-map {
  
  padding-bottom: 50%;
  position: relative;
} */

#foot {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 65px;
  padding-top: 80px;
}
#footer {
  background-color: rgb(232, 229, 229);
  padding-bottom: 30px;
  margin-top: -5px;
}
#footerdata2 {
  width: auto;
  white-space: nowrap;
  font-family: myFirstFont5;
  padding: 9px;
  font-size: calc(10px + 0.390625vw);
  padding-bottom: 70px;
  background-color: rgb(232, 229, 229);
  padding-left: 40px;
  padding-bottom: 100px;
  margin-left: -90px;
  margin-right: -65px
  ;
}
.buttons {
  height: 200px;
  width: 100%;
  background-color: #1d809f;
}
#buttons_text {
  text-align: center;
  padding-top: 30px;
  color: white;
}

.buttons > #two_btn {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

ul li {
  display: inline-block;
}

#buttons_1 {
  height: 50px;
  background-color: white;
  color: black;
  border: none;
  width: 90px;
  border-radius: 5px;
  justify-content: center;
  /* align-items: center;
        margin:10px auto;
        margin-left: 650px; */
}
#buttons_2 {
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  width: 90px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#ser113 {
  white-space: nowrap;
  font-size: 23px;
  font-family: myFirstFont2;
  padding: 0px;
  color: black;
}
#centergallerydata2 {
  font-family: myFirstFont2;
  text-align: center;
}
#centergallerydata1 {
  font-family: myFirstFont2;
  text-align: center;
  padding: 0%;
  font-size: 4vw;
}
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.isidebuttonsection {
  text-align: center;
  background-color: #1d809f;
  margin: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.buttonheading {
  padding-top: 100px;
  text-align: center;
  font-family: myFirstFont2;
  color: white;
  font-size: 30px;
}

.buttongroup {
  text-align: center;
  font-family: myFirstFont2;
  color: white;
  font-size: 35px;
  padding: 19px;
  padding-bottom: 70px;
}
.bt1 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 25px 55px;
  margin: 10px;
  font-family: myFirstFont5;
  border-radius: 5px;
  border-style: none;
}
.bt1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 55px;
  margin: 10px;
  font-family: myFirstFont5;
  border-radius: 5px;
  border-style: none;
}
.bt2 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 55px;
  margin: 10px;
  font-family: myFirstFont5;
  border-radius: 5px;
  border-style: none;
}
.bt2:hover {
  background-color: #ecb807;
  color: rgb(255, 255, 255);
  padding: 25px 55px;
  margin: 10px;
  font-family: myFirstFont5;
  border-radius: 5px;
  border-style: none;
}
.insideprojects {
  text-align: center;
  padding: 60px;
  padding-bottom: 30px;
}
.headingprojects {
  font-family: myFirstFont2;
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.smallheading {
  padding-top: 40px;
  font-family: myFirstFont2;
  font-size: 1vw;
  color: #ecb807;
}
.bigheading {
  font-family: myFirstFont2;
  font-size: calc(40px + 0.390625vw);
  padding-bottom: 30px;
}
.gallery {
  text-align: center;
  display: grid;
  margin: 100px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1198px;
  margin: auto;
  padding-bottom: 90px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.gallery-item:hover {
  opacity: 0.7;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  /* padding-bottom: 30px; */
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.gallery-item:hover .overlay {
  opacity: 1;
}
.bottom-left {
  position: absolute;
  bottom: 92px;
  left: 40px;
  font-family: myFirstFont2;
  color: white;
  font-size: 19px;
  padding: 5px;
  text-transform: uppercase;
}
.bottom-left2 {
  position: absolute;
  bottom: 60px;
  left: 38px;
  padding: 5px;
  text-align: justify;
  font-family: myFirstFont4;
  color: white;
  font-size: 18px;
}
.smallheadingservices {
  padding-top: 90px;
  font-family: myFirstFont2;
  font-size: calc(10px + 0.390625vw);
  color: #ecb807;
}
.bigheadingservices {
  font-family: myFirstFont2;
  font-size: calc(35px + 0.390625vw);
  color: #fff;
  padding-bottom: 35px;
  margin-bottom: -2px;
}
.nav1 {
  width: 250px;
  height: inherit;
  background-color: #1d809f;
  float: right;
  display: none;
}
.ul1 {
  text-align: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.li1 {
  display: block;
  width: inherit;
}
.a1 {
  display: block;
  width: 100%;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: myFirstFont5;
}
.li1:hover {
  background-color: #111;
}
.navbutton {
  position: absolute;
  top: 20px;
  right: 16px;
  padding: 15px 20px;
  border-radius: 6px;
  font-family: myFirstFont1;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
}
.navbutton1 {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 15px 20px;
  border-radius: 3px;
  font-family: myFirstFont1;
  color: rgb(255, 255, 255);
  background-color: #285a6b;
  border: none;
}
.navheadingcontent {
  font-family: myFirstFont1;
  padding-top: 25px;
  padding-left: 10px;
  height: fit-content;
  height: 70px;
  /* margin-top: 10px; */
  width: inherit;
  color: white;
  font-size: 20px;
  background: #1f7a96;
}
.dot {
  height: 112px;
  width: 117px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.dot img {
  padding: 2rem;
}
#myBtnend {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(52, 58, 64, 0.5);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtnend:hover {
  background-color: #555;
}
/* .gallery-item img{
  opacity: 0.5;
} */
